<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <ul>
        <h4>Rutas directas</h4>
        <li><a href="/flowerpower">Flower Power</a></li>
         <ul>
            <li><a href="/floripondio">Floripondio Flavor</a></li> 
            <li><a href="/amarula">Amarula look</a></li>
          </ul>
        <li><a href="/terminatorwin">Terminator Win</a></li>
        <li><a href="/pedropedrope">Pedro Pedro Pe</a></li><br>
        <h4>Con controladores</h4>
        <li><a href="/nosotros">NOSOTROS</a></li>
        <li><a href="/vosotros">VOSOTROS</a></li>
        <li><a href="/ellos">ELLOS</a></li>
      </ul>

    </nav>
    {{{body}}}
  </body>
</html>
