<h1>{{title}}</h1>
{{#if visitante}}
    <p>Hola {{nombre}} <a href="/salir">Salir</a></p>
{{/if}}

{{#unless visitante}}
    <p>Ingrese un nombre para iniciar sesión</p>
    <form action="/ingresar" method="post">
        <input type="text" name="nombre"> <button>INGRESAR</button>    
    </form>
{{/unless}}