* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4368_321106 {
  width: 100%;
  height: 1563px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v601_17 {
  width: 100%;
  height: 1462px;
  background: url("../images/v601_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 0px;
  overflow: hidden;
}
.v4368_321110 {
  width: 822px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 883px;
  left: 309px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4368_321111 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 890px;
  left: 96px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v601_12 {
  width: 300px;
  height: 300px;
  background: url("../images/v601_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 54px;
  overflow: hidden;
}
.v601_13 {
  width: 300px;
  height: 300px;
  background: url("../images/v601_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 394px;
  overflow: hidden;
}
.v601_14 {
  width: 300px;
  height: 300px;
  background: url("../images/v601_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 1085px;
  overflow: hidden;
}
.v601_15 {
  width: 300px;
  height: 300px;
  background: url("../images/v601_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 745px;
  overflow: hidden;
}
.v4368_321107 {
  width: 100%;
  color: rgba(105,154,184,1);
  position: absolute;
  top: 126px;
  left: 217px;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v4368_321115 {
  width: 100%;
  height: 100px;
  background: url("../images/v4368_321115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4368_321117 {
  width: 78px;
  color: rgba(85,85,85,1);
  position: absolute;
  top: 42px;
  left: 1029px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v601_11 {
  width: 350px;
  height: 67px;
  background: url("../images/v601_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 41px;
  overflow: hidden;
}
.v4368_321118 {
  width: 109px;
  color: rgba(85,85,85,1);
  position: absolute;
  top: 42px;
  left: 1141px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v4368_321120 {
  width: 82px;
  color: rgba(85,85,85,1);
  position: absolute;
  top: 42px;
  left: 1290px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v4368_321116 {
  width: 248px;
  color: rgba(104,138,184,1);
  position: absolute;
  top: 36px;
  left: 403px;
  font-family: Josefin Sans;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
