<div class="container">
  <div class="row justify-content-center" style="margin-top: 75px; margin-bottom: 75px;">
    <div class="col-md-6">

      <form action="/admin/login" method="post">

        <h3 class="seccion">Acceso para usuarios</h3>

        <div class="form-group mb-3">
          <!-- <label for="usuario">USUARIO</label> -->
          <input type="text"
          class="form-control"
          id="usuario"
          placeholder="Usuario"
          aria-describedby="emailHelp"
          name="usuario">
        </div>

        <div class="form-group mb-3">
          <!-- <label for="password">CONTRASEÑA</label> -->
          <input type="password"
          class="form-control"
          id="Password"
          placeholder="Contraseña"
          name="password">
        </div>

        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>

      {{#if error}}
        <p>Usuario o contraseña incorrecto</p> {{/if}}

    </div>
  </div>
</div>