<div class="container text-center my-4">
    <span>Hola {{persona}}!</span>
    <h3 class="mt-3">P치gina en construcci칩n</h3>
    <img src="/img/logo.png" alt="Logo" class="my-3">
    <div class="mt-3 mb-4">
        <a href="/admin/login/logout" class="btn btn-danger">
            Cerrar sesi칩n <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>
</div>

<!-- 
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col">
            <p class="text-end">
                <span>Hola {{persona}}!</span>
                <a href="" class="btn btn-danger">Cerrar sesi칩n <i class="fas fa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
</div> -->